body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  
}
* {
  box-sizing: border-box;
}
#root {
  width: 100%;
  background-color: #E5E5E5;
  min-height: 100vh;
}
#posts-wrapper { 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 25px;
}
.post-item {
  width: 30vw;
  color: white;
  background-color: #15202B;
  margin-bottom: 25px;
  padding: 3vw;
  font-family: Franklin Gothic Book;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3vw; 
  letter-spacing: 0.192px;

}
.post-item:nth-child(3n+1) {
  color: black;
  background-color: white;
}
.post-item:nth-child(3n+3) {
  background-color: black;
}
.post-title {
  font-size: 2vw;
  width: 75%;
  margin: 10px auto;
}

.post-body {
  font-size: 1.25vw;
  margin-bottom: 30px;
}

#comments {
  margin-left: 50px;
}