

  .post-item {
    border: 1px solid rgb(214, 209, 157);
    margin: 10px;
  }
  #post-title {
    font-size: 15px;
    color: rgb(104, 104, 245)
  }
  #post-body {
    font-size: 14px;
    color: rgb(43, 240, 174);
  }
  #posts-wrapper {
    margin-top: 10px;
  }
  #root {
    margin-top: 0;
  }

  #comments {
    margin-left: 50px;
  }